{{define "location.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "location.source" -}}
<html>
    <body>
        <h1> Welcome to Luc's Electronics - {{.name}}</h1>
        <p>{{.address}}</p>
        <p>Hours: {{.hours}}</p>
    </body>
</html>
{{end}}

{{define "city.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "city.source" -}}
<html>
    <body>
        <h1> Welcome to {{.name}}, {{.c_parents.name}}</h1>
        {{range .c_children}}
             <h3 class="child"> {{.name}} </h3>
        {{end}}
    </body>
</html>
{{end}}
